<ion-header>
<ion-toolbar color="primary">  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{lugares?.nome}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
        <ion-item >
            <ion-img [src]="lugares?.img"></ion-img>
        </ion-item>
            <ion-item>{{ lugares?.nome }}</ion-item>
        <ion-card-content>
            <ion-item>{{ lugares?.descricao }}</ion-item>
            </ion-card-content>
        </ion-card>
</ion-content>
