<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Adicionar Novo Ponto Turistico</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>

    <ion-button expand="full" (click)="tirarFoto()">Tirar Foto</ion-button>
    <ion-button expand="full" (click)="upload()" *ngIf="captureDataUrl">Upload</ion-button>
    <img [src]="captureDataUrl"  *ngIf="captureDataUrl"/>

    <ion-list lines="full">
        <ion-item>
          <ion-input required type="text" placeholder="Nome" [(ngModel)]="lugares.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input required type="text" placeholder="Descrição" [(ngModel)]="lugares.descricao"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="novoLugar()" [disabled]="!lugares.valid">Salva</ion-button>
</ion-content>
