    <ion-header>
        <ion-toolbar>
          <ion-title>
            Chat
          </ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8">
        <ul #scrollMe class="messages">
          <div *ngFor="let msg of resultados ">
            <li class="message appeared" [ngClass]="{'left':msg.remetente === 'boot',
                          'right':msg.remetente === 'eu'}">
              <div class="avatar"></div>
              <div class="text_wrapper">
                <div class="text">
                  <p class="time"> ({{msg.data | date:'HH:mm:ss'}})</p>
                  {{msg.mensagem}}
                </div>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </ion-content>
  

  <ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <textarea #chat_input placeholder="Digite uma message" 
    [(ngModel)]="msg" 
    (keyup.enter)="sendMessage()">
    </textarea>
    <button ion-button clear icon-only item-rightn (click)="sendMessage()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>
  
