<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Inicio</ion-title>
        <ion-buttons slot="start">
        <ion-menu-button class="md" ></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="first">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Start Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>Menu Item</ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)"
    (ionScrollEnd)="logScrollEnd()">
    <ion-list *ngFor="let lugar of lugares">
        <ion-item [routerLink]="['/detalhe-lugar', lugar.id]">{{lugar.nome}}
        </ion-item>
    </ion-list>
</ion-content>